@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/Golos-Text_Regular.woff') format('woff'),
  url('../fonts/Golos-Text_Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/Golos-Text_Medium.woff') format('woff'),
  url('../fonts/Golos-Text_Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/Golos-Text_DemiBold.woff') format('woff'),
  url('../fonts/Golos-Text_DemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}